extends layout

block content
  div(class="genresBar")
    a(class="genresBarHome" href='/') home
    h1(class="genresBarName") All genres
    div(class="genresBarShoppingCard")
      a(href="/card")
        span(class="material-icons") shopping_cart
  div(class="genresCategoryCards")
    div(class="allGenresCard")
      each genre in genres
        div(class="genreCard")
          h1(class="genreCardTitle") #{genre.name}
          div(class="genreCardCRUD")
            a(href=`/genre/${genre._id}`) view 
            a(href=`/genre/${genre._id}/update`) update 
            a(href=`/genre/${genre._id}/delete`) delete
          