extends layout

block content
  div(class="genresBar")
    a(class="genresBarHome" href='/') home
    h1(class="genresBarName") Delete product
    div(class="genresBarShoppingCard")
  div(class="genresCategoryCards")
    div(class="genresCategoryGrid")
      div(class="genresCategoryCard")
        div(class="genresCategoryCardImg")
        a(class="genresCategoryCardName" href=`/product/${product._id}`) #{product.title}
    form(method="POST" action="/product/:id/delete")
      button(type="submit" name="deleteProduct" value=`${product._id}` class="deleteButton") Confirm