extends layout

block content
  div(class="genresBar")
    a(class="genresBarHome" href='/') home
    h1(class="genresBarName") delete #{genre.name}
    div(class="genresBarShoppingCard")
  div(class="genresCategoryCards")
    h1 You cannot remove genre or seller. First remove the products belonging to it
    div(class="genresCategoryGrid")
      each product in products
        div(class="genresCategoryCard")
          div(class="genresCategoryCardImg")
          a(class="genresCategoryCardName" href=`/product/${product._id}`) #{product.title}