extends layout

block content
  div(class="genresBar")
    a(class="genresBarHome" href='/') home
    h1(class="genresBarName") New Genre form
    div(class="genresBarShoppingCard")
      span(class="material-icons") shopping_cart
  div(class="formGenreContainer")
    form(method="POST" action="")
      input(class="formGenreInput" value=(genre === undefined ? '' : genre.name) type="text" placeholder="Genre name" name="genreName" required)
      input(class="formGenreInput" value=(genre === undefined ? '' : genre.description) type="text" placeholder="Genre description" name="genreDescription" required)
      button(class="formGenreButton" type="submit") Submit