extends layout

block content
  div(class="genresBar")
    a(class="genresBarHome" href='/') home
    h1(class="genresBarName") Seller form
    div(class="genresBarShoppingCard")
  div(class="formGenreContainer")
    form(method="POST" action="")
      input(class="formGenreInput" type="text" value=(genre === undefined ? '' : genre.firstName) placeholder="seller first name" name="sellerFirstName" required)
      input(class="formGenreInput" type="text" value=(genre === undefined ? '' : genre.lastName) placeholder="seller last name" name="sellerLastName" required)
      input(class="formGenreInput" type="text" value=(genre === undefined ? '' : genre.description) placeholder="seller description" name="sellerDescription" required)
      button(class="formGenreButton" type="submit") Submit