extends layout

block content
  div(class="centerConfirm") #{confirm}
  form(method="POST" action="/seller/:id/delete")
    button(type="submit" name="confirmButton" value=`${seller._id}` class="deleteButton") Confirm