extends layout

block content
  div(class="genresBar")
    h1(class="genresBarGithub")
    h1(class="genresBarName") Shopping Card
    div(class="genresBarShoppingCard")
      span(class="material-icons") shopping_cart
  div(class="CardContainer")
    div(class="shoppingCard")
      p(class="shoppingCardName") This s a name
      div(class="shoppingCardAmount")
        button + 
        p(class="shoppingCardAmountCount") 5
        button -
      p(class="shoppingCardPrice") Price